:root {
  --green-0: #001c00;
  --green-1: #004b23;
  --green-2: #006400;
  --green-3: #007200;
  --green-4: #008000;
  --green-5: #38b000;
  --green-6: #70e000;
  --green-7: #9ef01a;
  --green-8: #ccff33;
}

body {
  background-color: var(--green-0);
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green-6);
}

body::-webkit-scrollbar-track {
  background-color: black;
}

.App {
  text-align: center;
}

.message {
  text-transform: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sent {
  text-align: right;
}

.received {
  text-align: left;
}



